<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.instachat.android">


    <!-- permissions for video chat -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!-- end permissions for video chat -->

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!--
    This permission is not required for Firebase Storage and is only used to read
    files from the camera and upload them to Firebase Storage as a demonstration. -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--
        This permission ensures that no other application can intercept
        your ADM messages. -->
    <permission
        android:name="com.instachat.android.permission.RECEIVE_ADM_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.instachat.android.permission.RECEIVE_ADM_MESSAGE"/>

    <permission
        android:name="com.instachat.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.instachat.android.permission.C2D_MESSAGE"/>


    <!-- This permission allows your app access to receive push notifications from ADM. -->
    <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE"/>

    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">

        <meta-data
            android:name="com.google.android.urlshortener.API_KEY"
            android:value="AIzaSyAHnphNjr0gqXkxps262WCzNmyG_P6OE24"/>

        <activity
            android:name=".GroupChatActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <!-- think about supporting consumption of multiple images later
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter> -->
        </activity>

        <activity
            android:name=".PrivateChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Launcher">
        </activity>

        <activity
            android:name=".messaging.DirectReplyActivity">
        </activity>

        <activity
            android:name=".login.LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".login.SignInActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".login.SignUpActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".login.ClaimRoomActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".login.ForgotPasswordActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".messaging.InstachatMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".download.MyDownloadService"
            android:exported="false"/>

        <!--
        Android N SDK has new restrictions around sharing file:// URIs
        https://developer.android.com/reference/android/support/v4/content/FileProvider.html#ProviderDefinition
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.instachat.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>
